In [ ]:
import cleancore
print("Using cleancore from:", cleancore.__file__)

In [1]:
import pandas as pd
from cleancore import CleanEngine

In [2]:
df = pd.read_csv("Groceries_dataset.csv")
df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [3]:
df.info()
df.shape
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_number    38765 non-null  int64
 1   Date             38765 non-null  object
 2   itemDescription  38765 non-null  object
dtypes: int64(1), object(2)
memory usage: 908.7+ KB

Member_number      0
Date               0
itemDescription    0
dtype: int64

In [5]:
df.columns

Index(['Member_number', 'Date', 'itemDescription'], dtype='object')

In [6]:
df.columns = df.columns.str.lower().str.strip()
df.columns

Index(['member_number', 'date', 'itemdescription'], dtype='object')

In [7]:
df["itemdescription"].head()

0      tropical fruit
1          whole milk
2           pip fruit
3    other vegetables
4          whole milk
Name: itemdescription, dtype: object

In [8]:
df = df.dropna(subset=["itemdescription"])

In [9]:
df["itemdescription"] = (
    df["itemdescription"]
    .astype(str)
    .str.lower()
    .str.strip()
)

In [10]:
df["date"] = pd.to_datetime(df["date"], errors="coerce")

C:\Users\siddique traders\AppData\Local\Temp\ipykernel_9380\930674051.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["date"] = pd.to_datetime(df["date"], errors="coerce")

In [11]:
clean_df = df[["member_number", "date", "itemdescription"]]
clean_df.head()

   member_number       date   itemdescription
0           1808 2015-07-21    tropical fruit
1           2552 2015-01-05        whole milk
2           2300 2015-09-19         pip fruit
3           1187 2015-12-12  other vegetables
4           3037 2015-02-01        whole milk

In [12]:
from cleancore import CleanEngine

engine = CleanEngine(df=clean_df)
cleaned_data, audit_log = engine.run()

cleaned_data.head()
audit_log

[AuditEvent(message='No transformations applied.')]

In [13]:
before = len(df)

df = df.drop_duplicates()

after = len(df)
print("Rows before:", before)
print("Rows after:", after)

Rows before: 38765
Rows after: 38006

In [14]:
df["itemdescription"] = (
    df["itemdescription"]
    .str.lower()
    .str.replace(r"[^a-z\s]", "", regex=True)
)

In [15]:
transactions = (
    df.groupby(["member_number", "date"])["itemdescription"]
    .apply(list)
    .reset_index()
)

transactions.head()

   member_number       date                                    itemdescription
0           1000 2014-06-24                  [whole milk, pastry, salty snack]
1           1000 2015-03-15  [sausage, whole milk, semifinished bread, yogurt]
2           1000 2015-05-27                         [soda, pickled vegetables]
3           1000 2015-07-24                      [canned beer, misc beverages]
4           1000 2015-11-25                        [sausage, hygiene articles]

In [16]:
df.shape
transactions.shape

(14963, 3)

In [17]:
transactions["itemdescription"].apply(len).describe()

count    14963.000000
mean         2.539999
std          1.060993
min          1.000000
25%          2.000000
50%          2.000000
75%          3.000000
max         10.000000
Name: itemdescription, dtype: float64

In [18]:
import pandas as pd

df = pd.read_csv("Groceries_dataset.csv")
df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [19]:
df.info()
df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_number    38765 non-null  int64
 1   Date             38765 non-null  object
 2   itemDescription  38765 non-null  object
dtypes: int64(1), object(2)
memory usage: 908.7+ KB

   Member_number        Date itemDescription
0           1808  21-07-2015  tropical fruit
1           2552  05-01-2015      whole milk
2           2300  19-09-2015       pip fruit

In [20]:
from cleancore.engine import CleanEngine
engine = CleanEngine(df)
clean_df, audit_log = engine.run()

In [21]:
clean_df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [22]:
audit_log

[AuditEvent(message='No transformations applied.')]

In [24]:
from cleancore.audit import AuditEvent


def run(self):
    self.data["itemDescription"] = (
        self.data["itemDescription"]
        .str.lower()
        .str.strip()
    )

    self.audit_log.append(
        AuditEvent("itemDescription lowercased and stripped")
    )

    return self.data, self.audit_log

In [25]:
engine = CleanEngine(df)
clean_df, audit = engine.run()

clean_df["itemDescription"].head()
audit

[AuditEvent(message='No transformations applied.')]

In [26]:
cleaned_data, audit_log = engine.run()

In [27]:
from cleancore import CleanEngine

engine = CleanEngine(df)
cleaned_df, audit_log = engine.run()

print("ðŸ”¹ BEFORE:")
display(df.head())

print("\nðŸ”¹ AFTER:")
display(cleaned_df.head())

print("\nðŸ§¾ AUDIT LOG:")
for log in audit_log:
    print("-", log.message)

ðŸ”¹ BEFORE:

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

ðŸ”¹ AFTER:

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

ðŸ§¾ AUDIT LOG:
- No transformations applied.